body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: 212A3E;
  color: rgba(241, 246, 249, 0.7);
}

div {
  box-sizing: border-box;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

#category-card {
  width: 12.5rem;
  margin: 0.625rem;
  background-color: #394867;
  border: 0.0625rem solid white;
}

#category-img {
  height: 8.75rem;
}

.card-text {
  color: F1F6F9;
}

#basic-button {
  color: #0094da;
}

#basic-button:hover {
  font-size: large;
}

.quiz {
  width: 975px;
  margin: 0 auto;
  margin-top: 20rem;
}

.question {
  background-color: 394867;
  color: white;
  padding: 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

#results {
  height: 400px;
  text-align: center;
  border: 0.0625rem solid white;
}

.congratulations {
  background-color: 394867;
  padding: 20px;
  font-size: 36px;
  color: #fff;
}

.results-info {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;
}

.answer {
  width: 48%;
  background: 394867;
  border: 2px solid dimgray;
  min-height: 70px;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
  color: #fff;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.answer-letter {
  font-size: 30px;
  background-color: 474F7A;
  color: #fff;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-text {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.correct-answer {
  border: 2px solid #1ea55b;
}

.correct-answer .answer-letter {
  background: #1ea55b;
}

.wrong-answer {
  border: 2px solid #dc0a0a;
}

.wrong-answer .answer-letter {
  background: #dc0a0a;
}

.next-button {
  margin: 0 auto;
  margin-top: 20px;
  color: #fff;
  background-color: 394867;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 75px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.score {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: 394867;
  border: 0.0625rem solid white;
  color: F1F6F9;
}

.disabled-answer {
  pointer-events: none;
}
