body {
    background-color: #212A3E;
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
    color: rgba(241, 246, 249, 0.7);
}

div {
    box-sizing: border-box;
}

h1 {
    margin-top: 6.25rem;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

#category-card {
    width: 12.5rem;
    background-color: #394867;
    margin: 0.625rem;
    border: 0.0625rem solid white;
}

#category-img {
    height: 8.75rem;
}

.card-text {
    color: #F1F6F9;
}

#basic-button {
    color: #0094da;
}

#basic-button:hover {
    font-size: large;
}

.quiz {
    width: 62.5rem;
    height: 37.5rem;
    margin: 15rem auto 0;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.75rem;
    padding: 0.625rem;
    background-color: #394867;
    border: 0.125rem solid white;
    color: white;
    font-size: 1.5rem;
}

#results {
    height: 25rem;
    text-align: center;
    border: 0.0625rem solid white;
}

#congratulations {
    background-color: #394867;
    padding: 1.25rem;
    font-size: 2.5rem;
    color: #fff;
}

.results-info {
    margin: 2.5rem 0;
    font-size: 1.125rem;
}

.answer {
    display: flex;
    width: 48%;
    height: 4.375rem;
    margin-bottom: 1.875rem;
    background: #394867;
    border: 0.125rem solid dimgray;
    cursor: pointer;
    color: #fff;
}

.answer:hover {
    font-size: large;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.125rem;
}

.answer-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.375rem;
    font-size: 1.875rem;
    background-color: #474F7A;
    color: #fff;
}

.answer-text {
    display: flex;
    align-items: center;
    margin-left: 1.25rem;
    font-weight: 600;
}

.correct-answer {
    border: 0.125rem solid #1ea55b;
}

.correct-answer .answer-letter {
    background: #1ea55b;
}

.wrong-answer {
    border: 0.125rem solid #dc0a0a;
}

.wrong-answer .answer-letter {
    background: #dc0a0a;
}

.next-button {
    width: 18.75rem;
    margin: 1.25rem auto 0;
    padding: 0.875rem 4.6875rem;
    background-color: #394867;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.75rem;
    height: 2.5rem;
    margin: 0 auto 5rem;
    background-color: #394867;
    border: 0.0625rem solid white;
    color: #F1F6F9;
    font-weight: bold;
}

.disabled-answer {
    pointer-events: none;
}

#results {
    background: #DDE6ED;
    height: 37.5rem;
}

.results-info {
    margin-top: 6.25rem;
    font-weight: bold;
}


@media screen and (max-width: 48rem) {
    .quiz {
        width: 95%;
        height: 80vh;
    }

    .score {
        font-size: 1rem;

        .next-button {
            width: 12.5rem;
            padding: 0.75rem 3.125rem;
            font-size: 1rem;
        }
    }

    .categories {
        margin-top: 5rem;
    }

    #category-card {
        width: 10rem;
        margin: 0.5rem;
    }

    #category-img {
        height: 6.25rem;
    }
}

